@media screen and (max-width: 800px){
    .heder__menu {
        display: none;
    }
    .heder__logo img {
         width: 70px
     }
    .heder__top {
        padding-top: 17px;
        padding-left: 16px;
        height: auto;
        align-items: center;

    }
    .wrapper {
        max-width: 340px;
            }
    .nav__btn_mobile {
display: flex;
    }
    .finish__tekst {
        display: flex;
        margin-top: 350px;
        margin-left: 20px;
        flex-direction: column;
        align-items: center;
    }
    h2 {
        font-weight: normal;
        font-size: 30px;
        line-height: 34px;
        color: #D67E35;
    }
    h1 {
        font-weight: normal;
        font-size: 40px;
        line-height: 46px;
        color: #D67E35;
    }
    p {
        font-weight: normal;
        font-size: 15px;
        line-height: 20px;
        color: #FFFFFF;
        margin-left: 167px;
    }
    .finish__tekst .heder__button {
        margin-top: 20px;
    }
    .finish__tekst p::before,
    .finish__tekst p::after {
        display: none;
    }
    .diner {
        width: 1600px;
        height: 1400px;
        position: relative;
        display: flex;
        top: 320px;
        flex-direction: column;
        align-items: center;

    }
    .box p {
        margin-left: 20px;
    }
    .box {
        background: aqua;
    }
    .number {
        width: 376px;
        height: 270px;
        display: flex;
        margin-left: 157px;
        column-gap: -82px;
        align-content: center;
        margin-top: 99px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .white__fon {
        margin-top: 1310px;
        margin-left: -169px;
    }
.white__fon_tekst {
    margin-top: -67px;
}
.white__fon_picture {
    margin-left: -293px;
    margin-top: 317px;
}
    .fon2 {
        margin-top: 600px;
        height: 500px;
    }
    .dark__fon {
        flex-direction: column;
    }
}