html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    /*font-family: 'Roboto', sans-serif;*/
    font-family: 'Tinos', serif;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

.wrapper {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
}
.heder {

    height: 100vh;
    background: url("/image/hero image.png") no-repeat center/cover;
}
.heder__top {
    display: flex;
    height: 100px;
    padding-top: 50px;
    justify-content: space-between;
}
.heder__logo {
    width: 100%;
    height: 100%;
}
.heder__menu {
    display: flex;

}
.nav {
    display: flex;
    column-gap: 55px;
    align-items: center;
    padding-right: 20px;
}
.nav__item a {
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
}
.nav__item {
    width: 45px;
}
.nav__item img {
    width: 30px;
}
.heder__contakt {
    display: flex;
    width: 346px;
    align-items: center;
    column-gap: 45px;
}
.heder__contakt img {
    width: 20px;
    height: 20px;
    }
.header__phone {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    border-left: 2px solid;
    padding-left: 31px;
}
p {
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    width: 137px;
}
.heder__button {
    width: 160px;
    height: 47px;
    background-color: darkorange;
    margin-top: 20px;
}
.finish__tekst {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 320px;
    margin-left: -553px;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;

}
h2 {
    font-weight: normal;
    font-size: 50px;
    line-height: 57px;
    color: #D67E35;
}
h1 {
    font-weight: normal;
    font-size: 80px;
    line-height: 92px;
    color: #D67E35;
    padding-top: 14px;
}
.finish__tekst p {
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    width: 344px;
    padding-top: 14px;
    display: flex;
    align-items: center;
    column-gap: 20px;

}
.finish__tekst p::before,
.finish__tekst p::after {
content: "";
    display: block;
    width: 61px;
    height: 2px;
    background: #FFFFFF;
}
.nav__btn_mobile {
    display: none;
    width: 30px;
    flex-direction: column;
    row-gap: 4px;
}
.nav__btn_mobile div {
    height: 3px;
    background: #FF7400;
    border-radius: 20px;
}

.diner {

    height: 350px;
    position: relative;
    display: flex;
    justify-content: space-around;
    top: 261px;
    }

.box {
    width: 350px;
    height: 350px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

h3 {
    font-weight: normal;
    font-size: 26px;
    line-height: 30px;
    color: #2C2C2C;
}
.box p {
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 30px;
    text-align: center;
    color: #656363;
    width: 297px;
    margin-top: 20px;
}
.box img {
    width: 100px;
    background: #FF7400;
}

.fon {

    height: 615px;
background: #FFFFFF;

}
.white__fon {
    display: flex;
    flex-direction: column;
    width: 800px;
    margin-top: 471px;
    margin-left: 58px;

}
.white__fon_tekst {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -165px;
}
.white__fon_picture {
    margin-left: 490px;
    margin-top: -207px;
}
.white__fon h1 {
    font-weight: normal;
    font-size: 54px;
    line-height: 62px;
    color: #000000;
    margin-left: 166px;
}
.white__fon p {
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #656363;
    width: 381px;
    margin-top: 23px;
    margin-left: 166px;
}
.number {
    width: 378px;
    height: 90px;
    display: flex;
    margin-left: 286px;
    column-gap: 66px;
    align-content: center;
    justify-content: space-evenly;
    margin-top: 99px;
}
.number1 {
    width: 85px;
    height: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.picture img {
    position: absolute;
    margin-left: 443px;
    margin-top: -249px;
    z-index: 4;
}
.picture2 img {
    position: absolute;
    margin-left: 746px;
    margin-top: -67px;
    z-index: 3;
}
.picture3 img {
    position: absolute;
    margin-left: 638px;
    margin-top: -273px;
    z-index: 2;
}
.picture4 img {
    position: absolute;
    margin-left: 751px;
    margin-top: -232px;
    z-index: 1;
}
.fon2 {

    height: 357px;
    background: url("image/Rectangle 38.png") no-repeat center/cover;
}
.dark__fon {
    width: 100%;
    height: 357px;
    display: flex;
}
.tekst {
    width: 682px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 390px;
    margin-top: 80px;
}
.tekst h2 {
    font-weight: normal;
    font-size: 52px;
    line-height: 60px;
    color: #D67E34;
}
.tekst p {
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    color: #FFFFFF;
    width: 590px;
    margin-top: 14px;
}
.dark__fon button {
    width: 157px;
    height: 47px;
    background-color: #FF7400;
    margin-top: 155px;
    margin-left: 331px;
}
